@CHARSET "ISO-8859-1";


html.noscroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}
input {
width: 60px;
font-size: 120%;
font-weight: bold;
background-color: #FFFF00;
border: 0px;
font-family:"Courier New", Courier, monospace;
}
label {
font-size: 200%;
font-weight: bold;
font-family:"Courier New", Courier, monospace;	
}


.labelcolor1{
display: inline-block;
color: #000000;
border-radius: 10%;
border-style: dotted;
border: 2px solid #000000;
padding-left: 6px;
padding-right: 6px;
margin-top: 10px;
}
.labelcolor2{
display: inline-block;
color: #000000;
border-radius: 10%;
border-style: dotted;
border: 2px solid #000000;
background-color: #AA0000;
padding-left: 6px;
padding-right: 6px;
margin-top: 10px;
}
.labelcolor3{
display: inline-block;
color: #000000;
border-radius: 10%;
border-style: dotted;
border: 2px solid #000000;
background-color: #00AA00;
padding-left: 6px;
padding-right: 6px;
margin-top: 10px;
}
.statusLabel{
color: #000000;
padding-left: 6px;
padding-right: 6px;
margin: 6px;
margin-top: 10px;
margin-bottom: 10px;
font-size: 210%;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.container1 {
padding-top: 2%;
padding-left: 10px;
padding-right: 10px;
width: auto;
height: auto;
text-align: left;
float: left;
display: inline-block;
}
.problemContainer {

width: auto;
height: auto;
padding-top: 1%;
padding-left: 1%;
overflow:none;
text-align: left;
}
.container4 {

padding-top: 6%;
padding-left: 1%;
padding-right: 10px;
width: auto;
height: auto;
text-align: left;
}
.statusContainer {
padding-top: 2%;
padding-bottom: 1%;
width: auto;
height: auto;
text-align: left;
}
.textboxContainer {
padding-top: 2%;
padding-right: 10px;
padding-left: 1%;
width: auto;
height: auto;
text-align: left;
float: left;
display: inline-block;
}
.space {
    margin-right: 50px;
}
.regularLayout{
width: 200px;
height: 200px ;
}
.tallLayout{
width: 200px;
height: 700px;
}
.wideLayout{
width: 1300px;
height: 200px;
}